body {
    font-family: Arial;
    background: #eef2f7;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
